<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        if ("WebSocket" in window){
            /** 打开websocket连接 */
            var ws = new WebSocket("ws://localhost:8081/webSocket");
            ws.onopen = function(){
                console.log("连接成功");
            };
            ws.onmessage = function (evt){
                var msg = evt.data;
                console.log("接收到的数据："+msg);
            };
            ws.onclose = function(){
                console.log("连接已关闭")
            };
        }
        else{
            /** 浏览器不支持 WebSocket */
            console.log("您的浏览器不支持 WebSocket!");
        }

        function send(){
            ws.send("{msg:哈哈哈, type:前台}");
        }

    </script>
</head>
<body>
    <button onclick="send()">发消息</button>
</body>

</html>